@{
    ViewData["Title"] = "About";
}
<div class="row">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
</div>

<div class="row">
    <div class="col-md-4 borderCard" style="border: 2px solid green;">
        <div class="card border border-info" style="width: 100%;">
            <div class="card-body ">
                <h5 class="card-title">Responsive Website</h5>

                <p class="card-text">As a visitor I want to navigate through the website using my mobile device or my Desktop.</p>

            </div>
        </div>
    </div>

    <div class="col-md-4 borderCard" style="border: 2px solid green;">
        <div class="card border border-info" style="width: 100%;">
            <div class="card-body ">
                <h5 class="card-title">Dev Ops</h5>

                <p class="card-text">As a Developer I want to able to deploy my Web Application so that my classmates can access the Web App remotely.</p>

            </div>
        </div>
    </div>

    <div class="col-md-4 borderCard" style="border: 2px solid green;">
        <div class="card border border-info" style="width: 100%;">
            <div class="card-body ">
                <h5 class="card-title">Responsive Website</h5>

                <p class="card-text">As a visitor I want to see the contact information of the creator of the Web App so that I can request being my teammate.</p>

            </div>
        </div>
    </div>


</div>




