@{
    ViewData["Title"] = "Contact Me";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    @*One Microsoft Way<br />*@
    I am living at Sunrise, FL<br />
    <abbr title="Phone">not my Phone:</abbr>
    800.555.1234
</address>

<address>
    <strong>My Email:</strong> <a href="mailto:Support@example.com">msalv006@fiu.edu</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>
